__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.env
.venv/
env/
venv/
db.sqlite3
media/
staticfiles/
static/
*.log
.vscode/
.DS_Store
*.pid
*.seed
*.tar
docker-compose.override.yml

**/migrations/*.py
!**/migrations/__init__.py
.cache/
build/
dist/
*.egg-info/
